/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 20, 2024, 12:43:05 AM
    Author     : Admin
*/

/* FOOTER */
/* FOOTER */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #edf2fa;
    color: #fff;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.text-link-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: black; 
}

.text-strong1 {
    font-size: 20px;
    font-weight: bold;
}

.text-link-list-item {
    font-size: 14px;
    font-weight: 600;
}

.list-item {
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
}

.list-item:hover {
    color: #027bb5; 
}

.footer a {
    text-decoration: none;
    color: inherit;
}

.footer a:hover {
    color: #ffcc00;
}

