/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Sep 19, 2024, 11:22:07 PM
    Author     : Admin
*/

/* MIDDLE */
.header-content-middle {
    position: relative;
    text-align: center
}

.header-content-middle img {
    width: 100%;
    height: auto;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
}

.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.input-submit {
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;
}

.button-submit {
    background-color: #5e3fd3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    font-size: 16px;
    transition: all 1s ease;
    font-weight: bold;
}

.button-submit:hover {
    background-color: #541371;
}

/* CATEGORY */
.category-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 30px;
    background-color: #f7f7f7;
    margin: 0;
}

.category-card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px #ccc;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.5s ease;
}

.category-card:hover {
    background-color: #5e3fd3;
    color: white;
    text-decoration: none;
}

/* MOST PARTICIPANTS COURSE SLIDE */
.best-course-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
}

.ranking {
    text-align: right;
    font-size: 1.5em;
    font-weight: bold;
    min-width: 50px;
}

.gold-rank {
    color: #FFD700;
    font-size: 28px;
    font-weight: bold;
}

.silver-rank {
    color: #C0C0C0;
    font-size: 26px;
    font-weight: bold;
}

.bronze-rank {
    color: #CD7F32;
    font-size: 24px;
    font-weight: bold;
}

.default-rank {
    color: #777;
    font-size: 22px;
    font-weight: bold;
}

.best-course-heading {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    color: black;
    font-size: 24px;
    font-family: Inter;
}

.best-course-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    transition: box-shadow 0.3s;
    width: 100%;
}

.best-course-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: black;
}

.best-course-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.best-course-description {
    color: #555;
    font-size: 1em;
    line-height: 1.5;
}

/* STATISTICS */

.statistics {
    background-color: #f7f7f7;
    padding: 40px;
    text-align: center;
}

.statistics-title {
    font-size: 2rem;
    margin-bottom: 30px;
    font-weight: bold;
}

.statistics-cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 30px;
}

.stat-card {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.view {
    transition: all 0.3s ease;
    font-weight: 600;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    color: black;
}

.view:hover {
    text-decoration: none;
    background-color: #541371;
    color: white;
}

.icon {
    font-size: 40px;
    color: #4CAF50;
}

.stat-number {
    font-size: 2rem;
    font-weight: bold;
    margin: 15px 0;
}

.stat-description {
    font-size: 1.2rem;
    color: #555555;
}

/* MENTOR LIST */
.mentor-content {
    width: 100%;
    background-color: #edf2fa;
    padding: 60px 0;
    text-align: center;
    font-family: Inter;
}

.mentor-heading {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    color: black;
    font-size: 24px;
    margin-bottom: 30px;
}

.mentor-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.mentor-card {
    width: 270px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-align: center;
    height: 500px;
    overflow: hidden;
}

.mentor-card:hover {
    transform: translateY(-5px);
}

.mentor-image-icon {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.mentor-text {
    font-size: 16px;
    color: #1e1e1e;
    height: 50px;
}

.mentor-text div {
    font-weight: 600;
    font-size: 18px;
}

.mentor-course {
    display: block;
    padding: 10px 15px;
    background-color: white;
    text-decoration: none;
    color: #333;
    transition: all 1s ease;
}

.mentor-course:hover {
    color: black;
    text-decoration: none;
}

.mentor-course p{
    margin-bottom: 0;
}

/* COURSE LIST */
.course-content {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 64px;
    box-sizing: border-box;
    gap: 48px;
    text-align: left;
    font-size: 24px;
    color: #1e1e1e;
    font-family: Inter;
    background-image: url('../img/coursebanner.jpg');
    background-size: cover;
}

.course-heading {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    color: white;
}

.course-content-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.course-name {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}

.course-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.course-body-text {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    color: #757575;
}

.course-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 160px;
}

.course-card {
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 24px;
    gap: 20px;
    min-width: 240px;
    min-width: 240px;
    min-height: 200px;
    flex-grow: 1;
    color: black;
    font-weight: 500;
}

.course-card:hover {
    text-decoration: none;
    color: black;
}

.course-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.more-course-button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.more-course-button:hover {
    background-color: #5d3fd3;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    color: white;
    text-decoration: none;
}

/* MY COURSE LIST */
.mycourse-content {
    width: 100%;
    position: relative;
    background-color: #031b49;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 64px;
    box-sizing: border-box;
    gap: 48px;
    text-align: left;
    font-size: 24px;
    color: #1e1e1e;
    font-family: Inter;
    background-image: url('../img/mycoursebanner.jpg');
    background-size: cover;
}

.mycourse-heading {
    align-self: stretch;
    position: relative;
    letter-spacing: -0.02em;
    line-height: 120%;
    font-weight: 600;
    color: white;
}

.mycourse-content-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mycourse-text {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
}

.mycourse-body-text {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 140%;
    color: #757575;
}

.mycourse-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 160px;
}

.mycourse-card {
    border-radius: 8px;
    color: black;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 24px;
    gap: 20px;
    min-width: 200px;
    min-height: 200px;
    flex-grow: 1;
}

.mycourse-card:hover {
    text-decoration: none;
    color: black;
}

.mycourse-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.pagination ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 10px 15px;
    background-color: white;
    color: #5d3fd3;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #edf2fa;
}

.pagination .active a {
    background-color: #5d3fd3;
    font-weight: bold;
    color: white;
}

